[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

djzen = {extras = ["uwsgi"]}
djangorestframework = "*"
ipython = "*"
"suds-py3" = "*"
"boto3" = "*"
awscli = "*"


[dev-packages]

